body {
    margin: 0;
    background: 
        url("../IMG/fon.jpg");
    font-family: Arial;
    line-height: 1.5;
}
.card {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 10px 15px #802525;
    border-radius: 10px;
    padding: 20px;
    
    }  
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    border-radius: 50%;
}   
.title{
    font-size: 20px;
    text-align: center;
    color: #0e730d;
}
.card-text{
    font-size: 14px;
    
}
.card-subtitle{
    font-size: 18px;
    color: #161480;
}
.card-list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}



